@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');


/*http://davidmcgaley-com.stackstaging.com/*/

 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: cornsilk;	
  font-family: 'Roboto Slab', serif;

}

/* --------------------- HEADER --------------------- */

header{
  max-width: 1250px;
  height: 100vh;
  position: relative; 
  margin: 0 auto 0 auto;
  background: url('bg_moon_flower_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  border: 1px solid #200a00;
}

.mix-blend{
  width: 80%;	
  margin: 22% auto 0 auto;
  font-size: 4.8rem;  
  text-align: center;
  letter-spacing: 0.4rem;

  text-shadow:
   -1px -1px 20px LightYellow,  
    1px -1px 20px LightYellow,
   -1px 1px 20px LightYellow,
    1px 1px 20px LightYellow;
  mix-blend-mode: screen;	
	
}

header img{
  width: 15%;
  position: absolute;
  top: 68%;
  left: 5%;
  border-radius: 50%;
  box-shadow:
   -1px -1px 4px white,  
    1px -1px 4px white,
   -1px 1px 4px white,
    1px 1px 4px white;
}

header p{
  color: orange;
  font-size:  2.4rem; 
  /*margin-top: 32%; 
  margin-right: 2%;
  text-align: right;  */
  
  position: absolute;
  top: 88%;
  right: 4%;
  
  animation-name: blink_arrow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}


	
	
@keyframes blink_arrow{
    0% {color: orange;}
  100% {color: yellow;}	
	
	
}



/* --------------------- SECTION --------------------- */
section{
  max-width: 1250px;
  margin: 0 auto;
  background-color: #F5F7D4;  
	
	
}

.header{
  width: 100%;
  height: 10%;
  background-color: #98CA32;

	
}

.header h2{
  font-size: 3rem;  
  letter-spacing: 0.4rem;  
  color: #E4F132;
  text-align: center;

	
}

.header span{
  color: #0A3408;
  text-align: center; 
  font-weight: 800;  
	
}

.introduction{
  width: 80%;
  margin: 2rem auto 0 auto;
  color: #0A3408;
  /*border: 1px solid peru;*/
	
}
.introduction h2{
  font-size: 1.4rem;  
  letter-spacing: 0.2rem;  	
  text-transform: uppercase;
  text-decoration: underline;    
  padding-bottom: 1rem;  
	
}

.introduction p{
  font-size: 1.0rem; 
	
}



.introduction span{
  background-color: #E4F132; 
	
}


.activities{
  display: flex;	
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 0rem auto 0 auto; 
	
}
.family, .body, .soul, .health{
  width: 48%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #0A3408;
  border: 1px solid green;	
} 

.family .image, .body .image, .soul .image, .health .image{
  width: 100%;
  height: 60%;  
	
	
}

.family .image img, .body .image img, .soul .image img, .health .image img{
  width: 100%;
  height: 100%;  
  object-fit: cover;
}
.family h3, .body h3, .soul h3, .health h3{
  font-size: 1.2rem;	
  letter-spacing: 0.2rem;
  margin-top: 0.6rem;
  margin-left: 0.6rem;
  margin-bottom: 0.6rem;
  
}

.family p, .body p, .soul p, .health p{
  font-size: 1rem;	
  margin-left: 0.6rem;
  margin-right: 0.6rem;
 
}
.family p a, .body p a, .soul p a, .health p a{
  text-decoration: none;
  color: #B2D732;
  
 
}
.family p a:hover, .body p a:hover, .soul p a:hover, .health p a:hover  {
  color: #F5F7D4; 
  background-color: #0A3408; 
}


/* --------------------- FOOTER --------------------- */
footer{
  max-width: 1250px;
  /*height: 6vh;*/
  margin: 0 auto;
  background-color: #0A3408; 	
	
}

footer p{
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.2rem;
  padding: 1rem 0rem;  
}

footer p a{
  text-decoration: none;	
  color: #0A3408;	
  background-color:#B2D732;
  border-radius: 8px;
  padding: 0rem 1rem;    
}

footer p a:hover{
  color: #E4F132;	
}


/* --------------------- RESPONSIVE --------------------- */

@media only screen and ( min-width: 1250px){
	header{
	  background-position: 100% 45%;
	}
	.mix-blend{
	  margin: 14% auto 0 auto;
	  font-size: 4.6rem;  
	}
	header img{
	  width: 10%;
	  top: 60%;
	  left: 5%;

	}
	header p{
	  font-size:  2.4rem; 
	  margin-top: 2%; 
	  margin-right: 2%;

	}	

}


@media only screen and ( max-width: 992px){
	
  header{
    background-position: 70% 100%;    	
  }
  .mix-blend{
	margin-top: 26%;  
    font-size: 2.2rem;  
  }  

  header img{
    width: 12%;
    top: 74%;
    left: 6%;
  }
  
  header p{
    font-size:  2.4rem; 
	top: 74%;
  }  

}




@media only screen and ( max-width: 768px){
	
  header{
    background-position: 50% 100%;    	
  }
  .mix-blend{
	margin-top: 36%;  
    font-size: 2.2rem;  
  }  

  header img{
    width: 15%;
    top: 74%;
    left: 6%;
  }
  
  header p{
    font-size:  2.4rem; 
	top: 74%;
  }  

}



@media only screen and ( max-width: 600px){
	
  header{
    background: url('bg_moon_flower_640.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 60%;    	

  }
  .mix-blend{
	margin-top: 50%;  
    font-size: 2.2rem;  
  }

  header img{
    width: 20%;
    position: absolute;
    top: 74%;
    left: 6%;
    box-shadow:
     -1px -1px 2px white,  
      1px -1px 2px white, 
     -1px 1px 2px white,
      1px 1px 2px white;
  }
  
  header p{
    font-size:  2.4rem; 
    /*margin-top: 56%; 
    margin-right: 2%;*/
	top: 74%;

  }    
  .header h2{
    font-size: 1.2rem;  
	padding: 0.8rem 0;
		
  }

	.introduction h2{
	  font-size: 0.9rem;  
	  letter-spacing: 0.1rem;  	
	 
		
	}
	
    .activities{
      display: flex;	
	  flex-direction: column;
    }

    .family, .body, .soul, .health{
      width: 100%;

    }

	.introduction p{
	  font-size: 0.7rem; 
		
	}

	.family h3, .body h3, .soul h3, .health h3{
	  font-size: 0.8rem;	
	  letter-spacing: 0.1rem;

	  
	}

	.family p, .body p, .soul p, .health p{
	  font-size: 0.6rem;
      padding-bottom: 0.4rem;	  
	}

    footer p{
      font-size: 1.2rem;
      letter-spacing: 0.2rem;
    }

  
}/*max-width: 600px*/


/* --------------------- RESPONSIVE LANDSCAPE --------------------- */


@media only screen and (max-height:420px) and (orientation: landscape) {
	header{
	  background: url('bg_moon_flower_640.jpg');
	  background-repeat: no-repeat;
	  background-size: cover;
	  background-position: 100% 45%;
	  border: 1px solid #200a00;
	}
	
	.mix-blend{
	  width: 80%;	
	  margin: 12% auto 0 auto;
	  font-size: 2.0rem;  
	  text-align: center;
	  letter-spacing: 0.4rem;
	}
	header img{
	  width: 12%;
	  top: 60%;
	  left: 5%;

	}	
	header p{
	  font-size:  2.4rem; 
	  /*margin-top: 24%; 
	  margin-right: 2%;*/
	  top: 64%;
	}

	
}


